<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
    {% include header.html %}  <!-- Standard header include -->

    <div class="container-fluid" >
      <div class="row">
        <!-- {{ content }} -->
          <article>
            <header>
              <h1>{{ page.title }}</h1>
              <p><em>Published on {{ page.date | date: "%B %d, %Y" }}</em></p>
            </header>
            
            <div class="post-content">
              {{ content }}
            </div>
            
            {% if page.image %}
            <img src="{{ page.image }}" alt="{{ page.title }}" style="max-width: 100%; height: auto;">
            {% endif %}
          </article>
      </div>
    </div>

  </body>
  {% include footer.html %}  <!-- Standard footer include -->
  <footer>

  </footer>
</html>
